
{% extends 'users/base.html' %}
{% block body_class %}auth-background{% endblock %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}

<div class="contents">
  <div class="login-card text-center">
    <h2 class="mb-4">Password Reset Complete</h2>
    <p class="small mb-3">
      Your password has been successfully changed.
      <br>
      You can now log in using your new password.
    </p>

    <a href="{% url 'login' %}" class="btn btn-primary w-100 mt-3 text-white">
      Go to Login
    </a>
  </div>
</div>

{% endblock %}
