{% extends 'users/base.html' %}
{% block body_class %}jobs-background{% endblock %}
{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-5 rounded" style="background-color: #f9fafe;">
        
        <h3 class="mb-4 text-center" style="font-weight: bold;">Update Application Status</h3>

        <form method="POST" class="d-flex flex-column gap-4">
          {% csrf_token %}
          
          <div class="form-group">
            <label for="id_status" class="form-label mb-2">Status</label>
            <select name="status" id="id_status" class="form-select">
              <option value="Pending" {% if form.initial.status == "Pending" %}selected{% endif %}>Pending</option>
              <option value="Viewed" {% if form.initial.status == "Viewed" %}selected{% endif %}>Viewed</option>
              <option value="Shortlisted" {% if form.initial.status == "Shortlisted" %}selected{% endif %}>Shortlisted</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary btn-lg rounded-pill mt-2">
            Update
          </button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
